.gitattributes text
.gitignore text
# I use git-cache-meta.sh in MSYS to create that file, so it will always be created with LF.
.git_cache_meta text eol=lf

*.txt text
*.ini text

*.bin binary
*.mmd binary
*.lst binary

*.org binary

*.mmw binary
*.ors binary
*.ps4 binary
*.rst binary
*.s2b binary
*.s3k binary
*.skc binary
*.sm1 binary
*.sm2 binary
*.sm3 binary
*.sm4 binary
*.sm5 binary
*.sm6 binary
*.sm7 binary
*.sm8 binary
*.sm9 binary
*.smp binary
*.smy binary
*.smz binary
*.sqs binary
*.svr binary
*.sze binary
*.tra binary
*.trs binary

*.sfx binary
*.sf3 binary
