McDonald's Treasure Land Adventure (E).bin
McDonald's Treasure Land Adventure (J) \[R-JapEur\].bin
McDonald's Treasure Land Adventure (Japan) (Beta).md
McDonald's Treasure Land Adventure (U) \[\!\].bin
