Sonic & Knuckles (Prototype 0525 - May 25, 1994, 15.28) (hidden-palace.org).bin
Sonic 3C (Prototype 0408 - Apr 08, 1994, 17.29) (hidden-palace.org).bin
Sonic 3C (Prototype 0517 - May 17, 1994, 17.08) (hidden-palace.org).bin
Sonic and Knuckles & Sonic 3.bin
Sonic and Knuckles only.bin
