World Championship Soccer (JU) (REV 02).bin
World Championship Soccer (JU) (REV 03) \[\!\].bin
World Cup Italia 90 (E) \[\!\].bin
World Cup Soccer (JU) \[\!\].bin
MegaGames 3in1 Vol 1 (S-HangOn WCupItal90 Columns) (E) \[\!\].bin
