Phantasy Star II - Amia's Adventure (J).bin
Phantasy Star II - Anne's Adventure (J).bin
Phantasy Star II - Huey's Adventure (J).bin
Phantasy Star II - Kinds's Adventure (J).bin
Phantasy Star II - Nei's Adventure (J).bin
Phantasy Star II - Rudger's Adventure (J).bin
Phantasy Star II - Shilka's Adventure (J).bin
Phantasy Star II - Yushis's Adventure (J).bin
