Alex Kidd - Cheongongmaseong (K).bin
Alex Kidd in the Enchanted Castle (1988)(Sega)(JP)(en).bin
Alex Kidd in the Enchanted Castle (U) \[\!\].bin
Alex Kidd in the Enchanted Castle Rev 2 (1989)(Sega)(EU)(en).bin
